* {
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background-color: #80cfa9ff !important;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-family: "Source Sans Pro", sans-serif;
	 width: 30%; 
	/* vertical-align: middle; */
	transform: translateX(115%);
}

#app {
	animation: fadeIn 1s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
